## Day-2 Assignment
#### Anbu Ezhilmathi Nambi - E0119053
### Melbourne Housing Type Prediction Data Pre-Processing

#### Import the packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Import the dataset view the columns and rows

In [2]:
dataset = pd.read_csv("melb_data.csv")
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,3/12/2016,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04/02/2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04/03/2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04/03/2017,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04/06/2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

### Structure and type of data

In [3]:
dataset.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price              int64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode           int64
Bedroom2           int64
Bathroom           int64
Car              float64
Landsize           int64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount      int64
dtype: object

#### Checking for missing data columns or rows in the dataset

In [4]:
dataset.isna().any()

Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car               True
Landsize         False
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [5]:
dataset.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

#### Handling missing data:
##### Here we calculate the mean and mode for these columns to fill the NAN values

In [6]:
car_mean= int(dataset['Car'].mean())
car_mean

1

In [7]:
BuildingArea = int(dataset['BuildingArea'].mean())
BuildingArea

151

In [8]:
YearBuilt = int(dataset['YearBuilt'].mean())
YearBuilt

1964

In [9]:
CouncilArea = dataset['CouncilArea'].mode()
CouncilArea[0]

'Moreland'

#### We are using Fillna() to fill the mean values to the respective numerical data with NAN values

In [10]:
dataset['Car'].fillna(car_mean, inplace=True)

In [11]:
dataset['BuildingArea'].fillna(BuildingArea, inplace=True)

In [12]:
dataset['YearBuilt'].fillna(YearBuilt, inplace=True)

In [13]:
dataset['CouncilArea'].fillna(CouncilArea[0], inplace=True)

#### Verifying missing data

In [14]:
dataset.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64